<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<meta charset="UTF-8">
		<title>BLOG | KCIBALD BLOG</title>
		<link href="blogheadstyle.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet" >
	</head>
	<body>
		<div class="top">
			<span id="temp">KCIBALD LOGO</span><span id="bloghead"> | Blog</span>
			<span id="tops">
				<button>Home</button>
				<button>Web</button>
				<button>Daily</button>
				<button>About</button>
			</span>
			<button id="login"><i class="far fa-user"></i> login</button>
		</div>
	</body>
</body>
</html>