html {
        background-color: #F5F5F5;
}

*:focus {
        outline: none;
}

.content {
        width: 35%;
        height: 50%;
        margin: 7% auto auto auto;
        font-family: Calibri, serif;
}

#bald {
        display: block;
        width: 300px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
}

h1 {
        margin-top: 0;
        margin-bottom: 40px;

        padding-left: 65px;

        color: #707070;

        letter-spacing: 0.04em;
        font-size: 50px;
        font-weight: normal;

        text-shadow: 5px 5px #D7D7D7;
}

.russo {
        font-family: 'Russo One', sans-serif;
        font-weight: lighter;
}

.harrington {
        font-family: Harrington, monospace;
}

input {
        width: 100%;
        margin-bottom: 20px;
        color: #6F6F6F;
        fill: #FFE505;
        border-radius: 48px;
        border: 3px solid #FFE505;
        font-size: 30px;
        height: 75px;
        padding-left: 40px;
        padding-right: 50px;
        box-sizing: border-box;
        display: block;
}

button {
        width: 100%;
        margin-bottom: 20px;
        color: #6F6F6F;
        fill: #FFE505;
        border-radius: 48px;
        border: 3px solid #FFE505;
        font-size: 30px;
        background-color: #FFE505;
        height: 80px;
}

input:focus{
        cursor: pointer;
        border-color: #90EC00;
        transition: 2s;
}

button:hover{
        cursor: pointer;
        border-color: #90EC00;
        transition: 0.5s;
}

button:active{
        background-color: #90EC00;
}
